.wave-svg {
  width: 200%;
  height: 100%;
  animation: waveMove 10s linear infinite;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
